.adress{
    background-color: #f59b1a;
    color: white;
    font-size: 2em;
    text-transform: capitalize;
    text-align: center;
    margin: 2% 0;
    padding: 2% 0;
    font-family: Roboto, sans-serif;
  }
  
  .adress p{
    margin: 0px;
  }
  
  .filter a img{
    width: 95%;
  
  }
  
  .filter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  