.header{
    display: grid;
}

nav{
    text-align: right;
}

nav ul{
  margin-right: 2%;
  margin-top: 1%;
}
.logo{
    text-align: center;
}

.inline{
    display: inline-block;
    margin: 0 5px 0 0;

}

.headline{
    text-align: center;
    color: #709a2d;
    font-family: Oswald, sans-serif;
    font-size: 3em;

}

a{
    color: #475e30;
}
