@media only screen and (min-width: 1200px) {
    body {
        background-color: #fff;
    }
}

@media only screen and (max-width: 1050px) {

    body {
        background-color: rgb(224, 224, 224);
    }
}



@media only screen and (max-width: 770px) {
    body {
        background-color: rgb(173, 173, 173);
    }

}


@media only screen and (max-width: 420px) {
    body {
        background-color: rgb(141, 141, 141);
    }

}
