*{
    text-decoration: none;
    list-style: none;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
}
.header{
    grid-column: 1/13;
    grid-row: 1/2;
}
.tearoom{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
    grid-column: 2/12;
    grid-row: 2/3;
    display: block;
    margin: auto;
}
.blog{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
    grid-column: 2/12;
    grid-row: 3/4;
    display: inline-block;
    margin: auto;
}
.tea{
    /* grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto; */
    display: flex;
    grid-column: 2/12;
    grid-row: 4/5;
    /* grid-gap: 5.5px; */
justify-content: space-evenly
}
.eco{

    display: inline-block;
}
.green{

    display: inline-block;
}
.white{

    display: inline-block;
}
.black{

    display: inline-block;
}
.dragon{

    display: inline-block;
}
.herb{

    display: inline-block;
}

.sale{
  grid-column: 2/12;
  grid-row: 5/6;
}
footer{
    grid-column: 2/12;
    grid-row: 6/7;
}

.show{
  display: inline-block;
}

.hide{
  display: none;
}
#form{
    background: #f59b1a;
color: #fff;
}
#form div h4{
    font-family: 'Oswald', sans-serif;
    
}
#form div h3{
    font-family: 'Roboto', sans-serif;
    
}
.one  {
    width: 98.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #f59b1a;
    color: #fff;
    border: solid 2px #fff;
    
}
::placeholder{
    color: #fff;
}
#comment{
    width: 98.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #f59b1a;
    color: #fff;
    border: solid 2px #fff; 
}
.submitbutton{
    background-color: #f59b1a;
    color: #fff;
    border: solid 2px #fff
}

